.sectionWhite {
  background: linear-gradient(135deg, #e2e2f2, #cce0f5);
    height: 100vh;
    text-align: center;
    padding-top: 10px;
  }
  
  .sectionTitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px;
  }
  
  .sectionText {
    font-size: 1.2rem;
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1.6;
  }
  