.container {
    height: 90vh;
    background-color: black;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .arrow {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  
  .sliders {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 1.5s ease;
  }
  
  .slide {
    position: relative;
    min-width: 100vw;
    height: 100%;
  }
  
  .image {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    background-color: black;
  }
  
  .title {
    position: absolute;
    top: 80px;
    left: 100px;
    font-size: 2.6rem;
    color: white;
    text-shadow: 10px 10px 10px black;
  }
  
  .paragraph {
    position: absolute;
    bottom: 80px;
    left: 100px;
    font-size: 2rem;
    width: 80%;
    color: white;
    font-family: 'Lato', sans-serif;
    text-shadow: 10px 10px 10px black;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .container {
      height: 45vh;
    }
  
    .arrow {
      width: 20px;
      height: 20px;
    }
  
    .image {
      height: 45vh;
    }
  
    .title {
      font-size: 24px;
      left: 1rem;
      top: 30px;
    }
  
    .paragraph {
      font-size: 15px;
      left: 1rem;
    }
  }
  