/* ProblemSolution.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    gap: 20vh;
    height: 90vh;
  }
  
  .block {
    width: 450px;
    text-align: center;
  }
  
  .title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
    }
  
    .block {
      width: 90%;
      margin-bottom: 40px;
    }
  }