.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  filter: brightness(0.5) saturate(1.8) contrast(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85); /* escurece o vídeo */
  z-index: -1;
}

.text {
  text-align: center;
  color: white;
  z-index: 2;
  padding: 1rem;
  max-width: 900px;
}

.paragraph {
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  color: #725ac9;
  line-height: 1.2;
}

.subtitle {
  font-size: 1.6rem;
  margin-top: 2rem;
  opacity: 0.9;
  color: #e0e0e0;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

/* Responsivo */
@media (max-width: 1115px) {
  .paragraph {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .paragraph {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
