.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.1);
  z-index: -1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1;
  padding: 0 1rem;
}

.paragraph {
  font-size: 3.2rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 1rem;
  color:aqua;
}

@media (max-width: 1115px) {
  .paragraph {
    font-size: 2.8rem;
  }
}

@media (max-width: 906px) {
  .paragraph {
    font-size: 2.2rem;
  }
}

.subtitle {
  font-size: 2rem;
  max-width: 700px;
  margin: 0 auto;
  text-shadow: 1px 1px 2px #000;
  margin-top: 60px;
}

@media (max-width: 1115px) {
  .subtitle {
    font-size: 1.6rem;
  }
}



@media (max-width: 960px) {
  .paragraph {
    font-size: 1.6rem;
  }
}

@media (max-width: 960px) {
  .subtitle {
    font-size: 1rem;
  }
}
