.container {
  min-height: 90vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  overflow: hidden;
  gap: 60px;
  flex-wrap: nowrap;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.content {
  max-width: 640px;
  text-align: left;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.imageWrapper {
  flex: 1;
  max-width: 600px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: #fff;
}

  
@media (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px; /* reduzido */
  }

  .left {
    align-items: center;
  }

  .content {
    text-align: center;
    width: 100%;
  }

  .imageWrapper {
    width: 100%;
    height: auto;
    max-height: 320px;
  }

  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }
}
